* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
    }


.chat {
    position: fixed;
    background-color: #e6ced9;
    width: 20vw;
    height: 50vh;
    bottom: 100px;
    right: 30px;
    transform: translateX(130%);
    transition: all 0.5s;
    border-radius: 10px;
}

.chat.active {
    transform: translateX(0);
}

.chat__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.chat__header {
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    padding: 3px 5px;
    border-bottom: 1px solid black;
}

/* 
@media screen and (max-width: 768px){
    .chat {
        width: 30vw;
        height: 40vh;
    }
}
@media screen and (max-width: 768px){
    .menu__content {
        width: 100%;
    }
    .blur {
        backdrop-filter: none;
    }
} */
