* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat {
    position: fixed;
    background-color: pink;
    width: 20vw;
    height: 40vh;
    bottom: 100px;
    right: 30px;
    transform: translateX(130%);
    transition: all 0.5s;
    border-radius: 10px;
}

.chat.active {
    transform: translateX(0);
}

@media screen and (max-width: 768px){
    .chat {
        width: 30vw;
        height: 40vh;
    }
}