* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
    }


.chat__message-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
}

.chat__name-input {
    padding: 5px 10px;
    font-size: 0.8rem;
    margin: 0;
    height: 25%;
    width: 65%;
    background-color: #f8e6ee;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
    align-self: flex-start;
}

.chat__message-input {
    padding: 5px 10px;
    font-size: 0.8rem;
    height: 35%;
    margin: 0;
    width: 100%;
    background-color: #f8e6ee;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
}

.chat__name-input::-webkit-input-placeholder {
    color: black; }

.chat__message-input::-webkit-input-placeholder {
     color: black; }

.chat__submit-btn {
    background-color: #d6aec0;
    border: 1px solid grey;
    border-radius: 25px;
    height: 25%;
    padding: 3px;
    margin: 5px 0 0 0;
}