* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
  list-style: none;
  }

nav {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
    background-color: #b08e9d;
  }
  
  main {
    padding: 50px;
    height: 100vh;
    background: url(./Images/minimalist-digital-art-mountain-landscape-night-moon-hd-wallpaper-1920x1080-7.jpg) center / cover no-repeat;
  }
  
  p {
    margin: 20px;
    color: lightgrey;
  }
  
  .burger-btn {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .burger-btn::before {
    content: '';
    background-color: black;
    width: 20px;
    height: 4px;
    border-radius: 10px;
    top: 0;
    position: absolute;
  }
  
  .burger-btn span {
    content: '';
    background-color: black;
    width: 20px;
    height: 4px;
    border-radius: 10px;
    top: 12.5px;
    position: absolute;
  }
  
  .burger-btn::after {
    content: '';
    background-color: black;
    width: 20px;
    height: 4px;
    border-radius: 10px;
    bottom: 0;
    position: absolute;
  }

  .chat-btnOpen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b08e9d;
    font-weight: bold;
    opacity: 0.6;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    position: fixed;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px 100px / 120px;
  }

  .chat-btnClose {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b08e9d;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    color: #b08e9d;
    border-radius: 10px 100px / 120px;
    cursor: pointer;
    opacity: 0.6;
  }

  .chat-btnClose:before, .chat-btnClose:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background: black;
  }

.chat-btnClose:before {
  transform: rotate(45deg);
}

.chat-btnClose:after {
  transform: rotate(-45deg);
}
  


